{% load i18n %}
$("#group-member-add, #group-admin-add").click(function() {
    var form = $("#member-add-form");
    form.modal({appendTo: "#main", focus:false});
    $('#simplemodal-container').css({'height':'auto', 'padding':0});
    $('#member-add-tabs').tabs();
    if ($(this).attr('id') == 'group-admin-add') {
        $('.hd', form).html("{% trans "Add administrators"%}");
        $('#enter .tip').addClass('hide');
        form.data('post_url', '{% url 'group_add_admin' group.id %}');
    } else {
        form.data('post_url', '{% url 'group_add_member' group.id %}');
    }
    addAutocomplete('#added-member-name', '#enter', contact_list);
});

$('#member-add-form').submit(function() {
    var form = $(this),
        cur_tab_id = $('.ui-tabs-selected a', form).attr('href'),
        post_data = '',
        input = $('[name="user_name"]', form);
        new_member=false;

        email = '';
        pwd1 = '';
        pwd2 = '';
        contact_name = '';
        company_name = '';
        switch(cur_tab_id) {
            case '#enter':
                post_data = input.val();
                break;

            case '#add-user-form':

                new_member=true;
                email = $('#id_email_nm').val();
                pwd1 = $('#id_password1').val();
                pwd2 = $('#id_password2').val();
                post_data=email;
                input.val(post_data);
                name = $('#id_name').val();
                company_name = $('#id_company_name').val();


                if (!email) {
                    apply_form_error(form.attr('id'), "{% trans "Email cannot be blank" %}");
                    return false;
                }
                if (!pwd1) {
                    apply_form_error(form.attr('id'), "{% trans "Password cannot be blank" %}");
                    return false;
                }
                if (!pwd2) {
                    apply_form_error(form.attr('id'), "{% trans "Please enter the password again" %}");
                    return false;
                }
                if (pwd1 != pwd2) {
                    apply_form_error(form.attr('id'), "{% trans "Passwords do not match" %}");
                    return false;
                }

                break;

            case '#contact-options':
                $(cur_tab_id + ' .checkbox-checked .checkbox-orig').each(function() {
                    post_data += $(this).val() + ',';
                });
                input.val(post_data);
        }
        alert(post_data);
        if (!post_data) {
            apply_form_error(form.attr('id'), "{% trans "Please enter emails, or select some." %}");
            return false;
        }

    var submit_btn = $('[type="submit"]', form);
    disable(submit_btn);
    $.ajax({
        url: form.data('post_url'),
        type: 'POST',
        dataType: 'json',
        cache: false,
        beforeSend: prepareCSRFToken,
        data: {
            'user_name': post_data,'new_member': new_member,'email': email,'pwd': pwd1,'name': name,'company_name': company_name
        },
        success: function(data) {
            location.reload(true);
        },
        error: function(data, textStatus, jqXHR) {
            var errors = $.parseJSON(data.responseText);
            $.each(errors, function(index, value) {
                apply_form_error(form.attr('id'), value);
            });
            enable(submit_btn);
        }
    });

    return false;
});
